* {
    font-style: normal;
    font-family: sans-serif, Calibri;
}

.modal-btn {
    color: #222222;
    background-color: #B6D7A8;
}

.modal-content {
    background-color: #fafafa;
}

.icon_buttons_group > a {
    padding-top: 5px;
    text-decoration: none;
    border: 1px solid green;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    color: green !important;
    margin-right: 5px;
    margin-left: 5px;
}

.icon_buttons_group > a:hover {
    background-color: #D5F1CA;
}

.icon_buttons_group > a:active {
    background-color: #B6D7A8;
}

.control-btn {
    padding-left: 8px;
}

.control-btn-slide {
    padding-left: 5px;
}

.big-modal-icon {
    font-size: 12em;
    color: #004e00;
}