/*Header left*/
.header_top{
    margin-bottom: 30px;
    padding-right: 0;
}

.header_down{
    padding-right: 0px;
}

.header_left{
    display: inline-block;
    padding-right: 0;
}

.header_buttons{
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
}

.header_buttons > button{
    margin-left: 5px !important;
}

.header_buttons > button > a{
    display: block;
}

.header_title{
    display: block;
    padding-left: 0;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header_title_text{
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
}

.header_title_text > p{
    vertical-align: middle;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

.header_title_input {
    padding-left: 0;
    display: inline-block;
}

.header_title_input > input{
    font-size: 24px;
    width: 150px;
}

.header_info > .form-group{
    padding-left: 0;
    padding-right: 0;
    margin-bottom:15px;
}

.header_info > .form-group > label{
    font-size: 18px;
    display: inline-block;
    font-weight: normal;
}

.header_info_customer, .header_info_name{
    font-size: 18px;
    display: inline-block;
    width: 56% !important;
}

.header_info_type{
    font-size: 18px;
    display: inline-block;
    width: 50% !important;
}

/*Header right*/
.header_right{
    float: right;
    margin-top: 10px;
    display: inline-block;
    padding-left: 0;
}

.header_right label{
    font-size: 18px;
    display: inline-block;
    padding: 0;
    font-weight: normal;
}

.header_right input{
    font-size: 16px;
}

.header_right > .form-group{
    margin-bottom: 2px;
}

.header_righ_checkbox{
    width: 18px;
    height: 18px;
}

/*
    LeftTable
*/
*{
    font-style: normal;
    font-family: Calibri;
}

.green_color{
    background-color: #B6D7A8;
}

.left_title {
    width: 6%;
}

.vertical_left_title {
    padding-top: 5px;
    writing-mode: tb-rl;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
}

.left_table > tbody > tr > .products_large_td, .left_table > tbody > tr > .products_small_td{
    max-height: 20px !important;
    height: 20px !important;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
}

.left_table > tbody > tr > td > input, .left_table > tbody > tr > td > select{
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin:0;
    border:0;
    border-radius:0;
    background-color: white;
}

.products_large_td {
    width: 30%;padding: 0;position: relative; overflow:hidden;
}

.products_small_td{
    width: 17%;padding: 0;position: relative; overflow:hidden;
}

.material{
    position: relative;
    max-height: 80px !important;
    height: 80px !important;
    width: 94%;
    padding: 0;
    margin: 0;
}

.material > textarea{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 3px;
    margin:0;
    border:0;
    border-radius:0;
    background-color: white;
    resize: none;
}

.left_table > tbody > tr > .special_conditions, .left_table > tbody > tr > .workability{
    font-size: 16px;
    text-align: center;
    padding-left: 10px;
    margin: 0;
    text-align: left;
    vertical-align: middle;
}

.left_table > tbody > tr > .special_conditions > p, .left_table > tbody > tr > .workability > p{
    margin: 0;
    font-weight: bold;
}


.special_conditions_textarea{
    position: relative;
    max-height: 45px !important;
    height: 45px !important;
    width: 100%;
    padding: 0;
    margin: 0;
}

.special_conditions_textarea > textarea, .workability_textarea > textarea{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 3px;
    margin:0;
    border:0;
    border-radius:0;
    background-color: white;
    resize: none;
}

.workability_textarea{
    position: relative;
    max-height: 80px !important;
    height: 80px !important;
    width: 100%;
    padding: 0;
    margin: 0;
}



/* Right table */


.rightTable {
    border: 0;
}

.rightTable > TBODY > TR > TD {
    font-size: 16px;
    color: black;
    font-weight: normal;
}

.rightTable > TBODY > TR > .leftTitle {
    width: 10%;
}
.rightTable > TBODY > TR > .dimensions {
    width: 45%;
}
.rightTable > TBODY > TR > .dimensionLength {
    width: 15%;
}
.rightTable > TBODY > TR > .dimensionWidth {
    width: 15%;
}
.rightTable > TBODY > TR > .dimensionHeight {
    width: 15%;
}

.rightTable .title {
    text-align: center;
    font-weight: bold;
}

.rightTable .verticalLeftTitle {
    writing-mode: tb-rl;
    vertical-align: middle;
    font-size: 20px;
}

.rightTable > TBODY > TR > TD.label {
    padding: 2px 2px 2px 5px;
    text-align: left;
    max-height: 25px !important;
    height: 25px !important;
    vertical-align: middle;
}

.rightTable > TBODY > TR > .value {
    padding: 0;
    position: relative;
    max-height: 25px !important;
    height: 25px !important;
    vertical-align: middle;
}
.rightTable > tbody > tr > td > input, .rightTable > tbody > tr > td > select{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin:0;
    border:0;
    border-radius:0;
    text-align: center;
    background-color: white;
}

.rightTable > TBODY > TR > TD.attachments {
    width: 75%;
    border-right: 0;
    max-height: 40px !important;
    height: 40px !important;
}
.rightTable > TBODY > TR > TD.attachmentsButtons {
    border-left: 0;
}
.rightTable > TBODY > TR > .attachmentsButtons > .buttonSmall {
    float: right;
    margin-left: 6px;
    width: 34px;
    height: 34px;
    border: 1px solid #B6D7A8;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    background-color: green;
}
.rightTable > TBODY > TR > .attachmentsButtons > .buttonSmall > EM {
    background-color: green;
    color: white;
}

.rightTable > TBODY > .bigovkiRow > TD:nth-of-type(1) {
    width: 20%;
}
.rightTable > TBODY > .bigovkiRow > TD:nth-of-type(2) {
    width: 10%;
    text-align: center;
}
.rightTable > TBODY > .bigovkiRow > TD:nth-of-type(3) {
    width: 20%;
}
.rightTable > TBODY > .bigovkiRow > TD:nth-of-type(4) {
    width: 10%;
    text-align: center;
}
.rightTable > TBODY > .bigovkiRow > TD:nth-of-type(5) {
    width: 20%;
}

.rightTable > TBODY > .prosechkiRow > TD {
    width: 20%;
}

.rightTable > TBODY > TR > TD.buttonContainer {
    border: 0;
}
.rightTable > TBODY > TR > .buttonContainer > .buttonBig {
    float: right;
    margin-left: 6px;
    width: 50px;
    height: 50px;
    border: 1px solid #B6D7A8;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    background-color: green;
}
.rightTable > TBODY > TR > .buttonContainer > .buttonBig > EM {
    background-color: green;
    color: white;
}
