/*
    LeftTable
*/
*{
    font-style: normal;
    font-family: Calibri;
}

.green_color{
    background-color: #B6D7A8;
}

.left_title {
    width: 6%;
}

.vertical_left_title {
    padding-top: 5px;
    writing-mode: tb-rl;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
}

.left_table > tbody > tr > .products_large_td, .left_table > tbody > tr > .products_small_td{
    max-height: 20px !important;
    height: 20px !important;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
}

.left_table > tbody > tr > td > input, .left_table > tbody > tr > td > select{
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin:0;
    border:0;
    border-radius:0;
    background-color: white;
}

.products_large_td {
    width: 30%;padding: 0;position: relative; overflow:hidden;
}

.products_small_td{
    width: 17%;padding: 0;position: relative; overflow:hidden;
}

.material{
    position: relative;
    max-height: 80px !important;
    height: 80px !important;
    width: 94%;
    padding: 0;
    margin: 0;
}

.material > textarea{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 3px;
    margin:0;
    border:0;
    border-radius:0;
    background-color: white;
    resize: none;
}

.left_table > tbody > tr > .special_conditions, .left_table > tbody > tr > .workability{
    font-size: 16px;
    text-align: center;
    padding-left: 10px;
    margin: 0;
    text-align: left;
    vertical-align: middle;
}

.left_table > tbody > tr > .special_conditions > p, .left_table > tbody > tr > .workability > p{
    margin: 0;
    font-weight: bold;
}


.special_conditions_textarea{
    position: relative;
    max-height: 45px !important;
    height: 45px !important;
    width: 100%;
    padding: 0;
    margin: 0;
}

.special_conditions_textarea > textarea, .workability_textarea > textarea{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 3px;
    margin:0;
    border:0;
    border-radius:0;
    background-color: white;
    resize: none;
}

.workability_textarea{
    position: relative;
    max-height: 80px !important;
    height: 80px !important;
    width: 100%;
    padding: 0;
    margin: 0;
}



/* Правая колонка */

#rightColumn {
    font-size: 16px;
    padding: 0;
    width: 380px;
    border-top: 1px solid black;
}

#rightColumn DIV {
    float: left;
    margin: 0;
    padding: 0;
}

#rightColumn INPUT {
    width: 100%;
    height: 21px;
    /*background-color: #ecf2ff;*/
    border: 0;
}
#rightColumn SELECT {
    /*font-size: 10px;*/
    width: 100%;
    height: 21px;
    border: 0;
}

#rightColumn .cellVerticalHeader {
    width: 35px;
    height: 176px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 2px;
    writing-mode: tb-rl;
    vertical-align: middle;
    text-align: center;
    background-color: #B6D7A8;
}

#rightColumn .cellHeader {
    width: 100%;
    height: 22px;
    text-align: center;
    border: 1px solid black;
    border-top: 0;
    padding: 1px;
    background-color: #B6D7A8;
}

#rightColumn .cellLabel {
    padding: 1px 2px 2px 4px;
    width: 215px;
    height: 22px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#rightColumn .cellValue {
    width: 130px;
    height: 22px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

/*Размеры пакета*/
#rightColumn .packingDims {
    width: 150px
}
#rightColumn .packingDims + DIV {
    width: 65px;
}
#rightColumn .packingDims + DIV + DIV {
    width: 67px;
}
#rightColumn .packingDims + DIV + DIV + DIV {
    width: 63px;
}

#rightColumn .attachments {
    position: relative;
    width: 100%;
    min-height: 50px;
    padding: 10px 5px 5px 5px;
    border: 1px solid black;
}
#rightColumn .attachments DIV:nth-of-type(1) {
    position: absolute;
    top: 5px;
    left: 300px;
}
#rightColumn .attachments DIV:nth-of-type(2) {
    position: absolute;
    top: 5px;
    left: 340px;
}


/*Биговки*/
#rightColumn .bigovkiContainer DIV:nth-of-type(1) {
    width: 85px; border-bottom: 1px solid black;  border-left: 1px solid black;
}
#rightColumn .bigovkiContainer DIV:nth-of-type(2) {
    width: 35px; text-align: center;
}
#rightColumn .bigovkiContainer DIV:nth-of-type(3) {
    width: 75px; border-bottom: 1px solid black;
}
#rightColumn .bigovkiContainer DIV:nth-of-type(4) {
    width: 35px; text-align: center;
}
#rightColumn .bigovkiContainer DIV:nth-of-type(5) {
    width: 75px; border-bottom: 1px solid black;
}
#rightColumn .bigovkiContainer DIV:nth-of-type(6) {
    width: 75px; border-bottom: 1px solid black;
}

/*Производственный формат*/
#rightColumn .mFormat {
    border-left: 1px solid black; width: 230px;
}
#rightColumn .mFormat + DIV {
    width: 150px;
}


#rightColumn .prosechkiContainer DIV {
    width: 76px;
}

#rightColumn .leftBorder {
    border-left: 1px solid black;
}

#rightColumn .noBottomBorder {
    border-bottom: 0;
}

#rightColumn .buttons {
    position: relative;
}
#rightColumn .buttons DIV:nth-of-type(1) {
    position: absolute;
    top: 5px;
    left: 232px;
}
#rightColumn .buttons DIV:nth-of-type(2) {
    position: absolute;
    top: 5px;
    left: 282px;
}
#rightColumn .buttons DIV:nth-of-type(3) {
    position: absolute;
    top: 5px;
    left: 332px;
}

#rightColumn .btnSmall {
    width: 32px;
    height: 32px;
    border: 1px solid #B6D7A8;
    border-radius: 5px;
    cursor: pointer;
}

#rightColumn .btn {
    width: 45px;
    height: 45px;
    border: 1px solid #B6D7A8;
    border-radius: 5px;
    cursor: pointer;
}