*{
    font-style: normal;
    font-family: Calibri;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.green_color{
    background-color: #B6D7A8;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

#productHeader{
    margin-bottom: 10px;
}

/*Header left*/
.header_top{
    margin-bottom: 30px;
    padding-right: 0;
}

.header_down{
    padding-right: 0;
}

.header_left{
    display: inline-block;
    padding-right: 0;
}

.header_buttons{
    display: block;
    padding-left: 0;
    padding-right: 0;
}

.header_buttons > button{
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 5px !important;
}

.header_buttons > button > a{
    display: block;
}

.header_title{
    display: block;
    padding-left: 0;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header_title_text{
    display: inline-block;
    padding-left: 0;
    padding-right: 10px;
}

.header_title_text > p{
    vertical-align: middle;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

.header_title_input {
    padding-left: 0;
    display: inline-block;
}

.header_title_input > input{
    display: inline-block;
    font-size: 24px;
    width: 150px;
}

.header_title_input > .isNew{
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px !important;
    padding-left: 10px;
    font-size: 16px;
}

.header_title_input > .isNew > input{
    display: inline-block;
    vertical-align: middle !important;
    margin: 0 0 3px 0 !important;
    padding: 0;
    height: 17px;
    width: 17px;
}

.header_title_input > .isNew > p{
    padding-left: 3px !important;
    display: inline-block;
    margin: 0 !important;
}


.header_info > .form-group{
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 8px;
}

.header_info > .form-group > label{
    font-size: 18px;
    padding-right: 10px;
    display: inline-block;
    font-weight: normal;
}

.header_info_customer, .header_info_name{
    font-size: 18px;
    display: inline-block;
    width: 70% !important;
    padding: 0 0 0 3px !important;
}

.header_info_type{
    padding: 0 0 0 3px !important;
    font-size: 18px;
    display: inline-block;
    width: 60% !important;
}

/*Header right*/
.header_right{
    float: right;
    margin-top: 10px;
    padding-right: 10px;
    display: inline-block;
    font-size: 18px !important;
    padding-left: 0;
}

.create{
    padding-right: 5px;
    float: right;
}


.create > input{
    width: 180px !important;
    font-size: 16px !important;
}

.create > p{
    display: inline-block;
    margin: 0 0 2px 0;
    padding-right: 5px;
    vertical-align: middle;
}

.update{
    padding-right: 5px;
    float: right;
}

.update > p{
    margin: 0 0 2px 0;
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
}

.update > input{
    width: 180px !important;
    font-size: 16px !important;
}

.do{
    padding-right: 5px;
    float: right;
}

.do > p{
    margin: 0 0 2px 0;
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
}

.do > input{
    padding: 0 0 0 7px !important;
    width: 180px !important;
    font-size: 16px !important;
}

.header_right > .form-group{
    margin-bottom: 2px;
}

.use{
    padding-right: 10px;
    float: right;
}

.use > p{
    display: inline-block;
    padding-left: 3px !important;
    font-size: 16px !important;
    margin: 0 0 6px 0 !important;
    float: right;
    vertical-align: middle;
}

.header_righ_checkbox{
    width: 17px;
    height: 17px;
}


/*Main info about tables*/

.left{
    margin-bottom: 10px;
    padding-right: 5px;
}

.middle{
    padding-right: 5px;
    margin-bottom: 10px;
    padding-left: 5px;
}

.right{
    margin-bottom: 10px;
    padding-left: 15px;
}


/*
    LeftTable
*/

.left_table > tbody > tr > .left_title {
    width: 5%;
    border: 1px solid black !important;
    padding : 5px 0 0 0 !important;
    text-align: center;
}

.vertical_left_title {
    padding-top: 5px;
    writing-mode: tb-rl;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
}

.left_table > tbody > tr > .products_large_td{
    width: 30% !important;
    position: relative;
    overflow:hidden;
    max-height: 20px !important;
    height: 20px !important;
    padding : 0 0 0 3px !important;
    text-align: left;
    font-size: 16px;
    vertical-align: middle;
    border: 1px solid black;
}

.left_table > tbody > tr > .products_small_td{
    width: 18% !important;
    position: relative;
    overflow:hidden;
    max-height: 20px !important;
    height: 20px !important;
    padding : 0 0 0 3px !important;
    text-align: left;
    font-size: 16px;
    vertical-align: middle;
    border: 1px solid black;
}

.left_table > tbody > tr > td > input, .left_table > tbody > tr > td > select{
    position: absolute;
    text-align: center;
    font-size: 16px;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin:0;
    border-radius:0;
    border:0;
    outline: none;
    background-color: white;
}

.left_table > tbody > tr > .material{
    position: relative;
    max-height: 80px !important;
    height: 80px !important;
    width: 93%;
    margin: 0;
    border: 1px solid !important;
    padding: 0;
}

.material > textarea{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 5px 0 5px !important;
    margin: 0;
    border-radius:0;
    border: 0;
    background-color: white;
    font-size: 16px;
    resize: none;
    outline: none;
}

.left_table > tbody > tr > .special_conditions, .left_table > tbody > tr > .workability{
    font-size: 16px;
    padding: 0 0 0 10px !important;
    margin: 0;
    text-align: left;
    border: 1px solid black;
    vertical-align: middle;
}

.left_table > tbody > tr > .special_conditions > p, .left_table > tbody > tr > .workability > p{
    margin: 0;
    font-weight: bold;
}

.special_conditions_textarea{
    position: relative;
    max-height: 65px !important;
    height: 65px !important;
    width: 100%;
    border: 1px solid black !important;
    margin: 0;
    padding: 0 !important;
}

.workability_textarea{
    position: relative;
    max-height: 80px !important;
    height: 80px !important;
    width: 100%;
    padding: 0 !important;
    margin: 0;
    border: 1px solid black !important;
}

.special_conditions_textarea > textarea, .workability_textarea > textarea{
    position: absolute;
    padding: 0 5px 0 5px !important;
    height: 100%;
    width: 100%;
    margin: 0;
    border-radius:0;
    border: 0;
    background-color: white;
    font-size: 16px;
    resize: none;
    outline: none;
}


/*
    Middle table
*/
.middle_table > tbody > tr > .middle_left_title {
    width: 5%;
    border: 1px solid black !important;
    padding : 15px 0 0 0 !important;
    text-align: center;
}

.middle_table > tbody > tr > .middle_products_large_td{
    max-height: 20px !important;
    height: 20px !important;
    text-align: left;
    vertical-align: middle;
    width: 60%;
    padding: 0 0 0 10px;
    position: relative;
    overflow:hidden;
    font-size: 16px;
    border: 1px solid black;
}

.middle_table > tbody > tr >.middle_products_small_td{
    max-height: 20px !important;
    height: 20px !important;
    text-align: left;
    vertical-align: middle;
    width: 35%;
    padding: 0 0 0 10px;
    position: relative;
    overflow:hidden;
    font-size: 16px;
    border: 1px solid black;
}

.middle_table > tbody > tr > td > input, .middle_table > tbody > tr > td > select{
    position: absolute;
    text-align: center;
    font-size: 16px;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin:0;
    border-radius:0;
    border:0;
    outline: none;
    background-color: white;
}

.middle_table > tbody > tr > .print_td{
    height: 20px;
    width: 100%;
    padding: 0 !important;
    border: 1px solid black;
}

.middle_table > tbody > tr > .print_td > .print_input_1,
.middle_table > tbody > tr > .print_td > .print_input_2{
    float: left;
    height: 100%;
    width: 30%;
}

.middle_table > tbody > tr > .print_td > .print_input_3{
    float: left;
    height: 100%;
    width: 40%;
}

.middle_table > tbody > tr > .print_td > .print_input_1 > input,
.middle_table > tbody > tr > .print_td > .print_input_2 > input{
    float: left;
    height: 100%;
    width: 100%;
    padding: 0 !important;
    text-align: center;
    border-right: 1px solid black;
    background: white;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius:0;
    outline: none;
}

.middle_table > tbody > tr > .print_td > .print_input_3 > input{
    float: left;
    height: 100%;
    width: 100%;
    padding: 0 !important;
    text-align: center;
    border: 0;
    background: white;
    border-radius:0;
    outline: none;
}

.middle_table > tbody > tr > .notes{
    font-size: 16px;
    padding: 0 0 0 0 !important;
    margin: 0;
    text-align: center;
    border: 1px solid black;
    vertical-align: middle;
}

.middle_table > tbody > tr > .notes > p{
    margin: 0;
    font-weight: bold;
}

.middle_table > tbody > tr > .notes_all{
    height: 20px;
    position: relative;
    padding: 0 !important;
    border: 1px solid black;
}

.middle_table > tbody > tr > .notes_all  > .notes_inputs > .note_input_1 {
    float: left;
    height: 100%;
    width: 40%;
    text-align: center;
    padding: 0!important;
    border-right: 1px solid black;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius:0;
    outline: none;
}

.middle_table > tbody > tr > .notes_all  > .notes_inputs > .note_input_2 {
    float: left;
    height: 100%;
    padding: 0!important;
    width: 60%;
    text-align: center;
    border: 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius:0;
    outline: none;
}


/* Right table */

.right_table{
    border-collapse: collapse;
    margin-bottom: 5px;
}

.avto_left_title {
    width: 6%;
    border: 1px solid black !important;
    padding : 50px 0 0 0 !important;
    text-align: center;
}

.right_table > tbody > tr > .avto_large_td{
    max-height: 20px !important;
    height: 20px !important;
    text-align: left;
    vertical-align: middle;
    width: 59%;
    padding: 0 0 0 10px;
    position: relative;
    overflow:hidden;
    font-size: 16px;
    border: 1px solid black;
}

.right_table > tbody > tr > .avto_small_td{
    max-height: 20px !important;
    height: 20px !important;
    text-align: left;
    vertical-align: middle;
    width: 35%;
    padding: 0 0 0 10px;
    position: relative;
    overflow:hidden;
    font-size: 16px;
    border: 1px solid black;
}

.right_table > tbody > tr > td > input, .right_table > tbody > tr > td > select {
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin:0;
    border:0;
    border-radius:0;
    background-color: white;
    outline: none;
}

.inputs{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin:0;
    border:0;
    border-radius:0;
    background-color: white;
    outline: none;
}

.inputs > .input_1{
     float:left;
     text-align: center;
     width: 50%;
     height: 100%;
     border-right: 1px solid;
     border-left: 0;
     border-top: 0;
     border-bottom: 0;
     border-radius:0;
     outline: none;
 }

.inputs > .input_2{
    float:left;
    text-align: center;
    width: 50%;
    height: 100%;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius:0;
    outline: none;
}

.right_table > tbody > tr > td > .embeded_input{
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    width: 30%;
    height: 100%;
    border-left: 1px solid !important;
    border-radius:0;
    outline: none;
}

.attachments {
    min-height: 70px !important;
    position: relative;
    border: 1px solid black;
    padding: 0 0 0 0;
}

.attachments > .buttons{
    position: absolute;
    top: 0;
    right: 10px;
}

.attachments > .buttons > a{
    height: 32px;
    margin-left: 5px;
    width: 32px;
}

.attachments > .links{
    padding: 15px 0 10px 10px;
}

.right_table > tbody > tr > .right_table_title{
    font-size: 16px;
    margin: 0;
    padding: 0 0 0 0 !important;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    vertical-align: middle;
}

.rightTable > tbody > tr > .buttons > .buttonBig {
    float: right;
    margin-left: 6px;
    width: 50px;
    height: 50px;
    border: 1px solid #B6D7A8;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    background-color: green;
}

.rightTable > tbody > tr > .buttonContainer > .buttonBig > a{
    text-decoration:none;
}

/* Bigovki right_table */

.bigovki_all{
    height: 20px;
    position: relative;
    padding: 0 !important;
    border: 1px solid black;
}

.bigovki_all > .bigovki_inputs_1{
     float: left;
     height: 100%;
     width: 32%;
 }

.bigovki_all  > .bigovki_inputs_1{
    float: left;
    height: 100%;
    width: 32%;
}

.bigovki_all  > .bigovki_inputs_2{
    float: left;
    height: 100%;
    width: 33.3%;
}

.bigovki_all  > .bigovki_inputs_3{
    float: left;
    height: 100%;
    width: 34.7%;
}

.bigovki_all > .bigovki_inputs_1 > .bigovki_input_1, .bigovki_all  > .bigovki_inputs_2 > .bigovki_input_1{
    float:left;
    text-align: center;
    width: 70%;
    height: 100%;
    border-right: 1px solid black;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius:0;
    outline: none;
}

.bigovki_all  > .bigovki_inputs_1 > .bigovki_input_2, .bigovki_all > .bigovki_inputs_2 > .bigovki_input_2{
    float:left;
    text-align: center;
    width: 30%;
    height: 100%;
    border-right: 1px solid black;
    background: white;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius:0;
    outline: none;
}

.bigovki_all > .bigovki_inputs_3 > .bigovki_input_3{
    float:left;
    text-align: center;
    width: 50%;
    height: 100%;
    border-right: 1px solid black;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius:0;
    outline: none;
}

.bigovki_all > .bigovki_inputs_3 > .bigovki_input_4{
    float:left;
    text-align: center;
    width: 50%;
    height: 100%;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius:0;
    outline: none;
}

/* Prosechki right_table */

.prosechki_all{
    height: 20px;
    position: relative;
    padding: 0 !important;
    border: 1px solid black;
}

.prosechki_all  > .prosechki_inputs > .prosechki_input_1,
.prosechki_all  > .prosechki_inputs > .prosechki_input_2,
.prosechki_all  > .prosechki_inputs > .prosechki_input_3,
.prosechki_all  > .prosechki_inputs > .prosechki_input_4{
    float: left;
    height: 100%;
    width: 20%;
    text-align: center;
    border-right: 1px solid black;
    background: white;
    padding: 0 !important;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius:0;
    outline: none;
}

.prosechki_all  > .prosechki_inputs > .prosechki_input_5{
    float: left;
    height: 100%;
    text-align: center;
    padding: 0 !important;
    width: 20%;
    border: 0;
    background: white;
    border-radius:0;
    outline: none;
}

/* Main buttons right_table */

.buttonContainer {
    position: relative;
    height: 50px;
    border: 0 !important;
}

.buttons{
    padding-top: 5px;
    position: absolute;
    right: 10px;
}

.buttons > a{
    text-decoration:none;
    border: 1px solid green;
    text-align: center;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    color: green;
}

.buttons_bottom{
    padding-top: 5px;
    position: absolute;
    right: 0;
}


.buttons_bottom > a{
    text-decoration:none;
    border: 1px solid green !important;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    color: green;
}
