.products-panel {
    min-height: 500px;
}

.header-dropdown {
    min-width: 230px;
}

.sorting-option {
    padding: 7px 0px 7px 20px;
}

.sorting-option:hover {
    background-color: #e9e9e9;
}

.sorting-option a i span {
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
}

.sorting-option a i {
    color: #555;
}

.filter-search {
    margin: 10px 15px 10px 15px;
    height: 20px;
}

.filter-search input {
    height: 30px;
}

.scrollable-menu {
    height: auto;
    max-height: 150px;
    overflow-x: hidden;
}

.products-table tbody tr td {
    text-align: center;
}

.display {
    display: inline;
}

.hide {
    display: none;
}