.container-fluid {
    margin-top: 15px;
}

.header_buttons {
    padding-top: 7px;
}

.header_title {
    display: block;
    padding-left: 0;
    margin-right: 0;
    margin-top: 7px;

}

.header_title > p {
    vertical-align: middle;
    font-size: 24px;
}

.table-headings > th {
    text-align: center;
    vertical-align: middle !important;
}

.products-panel {
    min-height: 500px;
}

.header-dropdown {
    min-width: 230px;
}

.dropdown-option {
    padding: 7px 0px 7px 20px;
}

.dropdown-option:hover {
    background-color: #e9e9e9;
}

.dropdown-option a i span {
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
}

.dropdown-option a i {
    color: #555;
}

.filter-search {
    margin: 10px 15px 10px 15px;
    height: 20px;
}

.filter-search input {
    height: 30px;
}

.scrollable-menu {
    height: auto;
    max-height: 150px;
    overflow-x: hidden;
}

.products-table tbody tr td {
    text-align: center;
}

.display {
    display: inline;
}

.hide {
    display: none;
}

tbody > tr:nth-child(even) {
    background-color: #B6D7A8
}

tbody > tr:hover {
    background-color: #dcf1b6;
}

tbody > tr:active {
    background-color: #8eba68;
}

tbody > tr {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}